body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu";
  font-weight: 700;
}

p,
a {
  font-family: "Montserrat";
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background: transparent;
  border-bottom: 1px solid #87ceeb;
}

.left-nav {
  flex-grow: 1;
}


.navbar a {
  padding: 2em;
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.25em;
}

.navbar a:hover {
  color: #d3d3d3;
}

.nav-toggle {
  display: none;
}

.landing-img h1 {
  font-family: "Josefine Slab";
  color: #f5f5f5;
  font-weight: 300;
  font-size: 6em;
}

.landing-img .btn {
  color: #87ceeb;
}

.landing-img {
  width: 100vw;
  height: 100vh;

  /* Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-image: url(../images/munnar.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Home posts */

#home-posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3%;
}

.post-box {
  text-align: center;
  flex-wrap: wrap;
  width: 40%;
  margin: 3%;
  height: auto;
  padding: 0.5%;
  border: 2px solid #87ceeb;
  border-radius: 10px;
}

.post-box:hover {
  background-color: #87ceeb;
  
}

.post-box a {
  text-decoration: none;
}

.post-title {
  text-transform: uppercase;
  padding-top: 5%;
  color: #000;
}

.post-content {
  color: #000;
}


/* Post pages */

#posts {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
  /* align-self: center; */
  background-image: url(../images/sunset.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.post-body {
  transform: skewY(-3deg);
  background-color: #87ceeb;
  color: #fff;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  width: 40%;
  margin: 20% 25% 10% 25%;
  padding: 4%;
}

.post-body h1 {
  transform: skewY(3deg);
  text-align: center;
  text-transform: uppercase;
}

.post-body p {
  transform: skewY(3deg);
}

/* About page */

#about-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-self: center;
  background-image: url(../images/Allepey-3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 10%;
}

.about-container {
  transform: skewY(-3deg);
  align-self: center;
  background-color: #87ceeb;
  color: #fff;
  border: 2px solid #000;
  width: 70%;
  margin: 45% 10% 0 10%;
  padding: 4%;
}

.about-container h1 {
  transform: skewY(3deg);
  text-align: center;
}

.about-container p {
  transform: skewY(3deg);
}

/* Contact page */

#contact-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-self: center;
  background-image: url(../images/india-traffic.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact-container {
  text-align: center;
  background-color: #87ceeb;
  color: #fff;
  border: 2px solid #000;
  border-radius: 30px;
  width: 20%;
  height: 40%;
  margin: 15% 60% 0 5%;
  padding: 1%;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.contact-icons a {
  color: #fff;
  padding: 7.5%;
}

.contact-icons a:hover {
  color: #d3d3d3;
}

/* Compose Page */

#compose-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  background-image: url(../images/Munnar-hostel.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 15%;
}

#compose-section h1 {
  margin-top: 5%;
  margin-right: 35%;
  text-align: center;
  color: #000;
  font-size: 3em;
  width: 100%;
  
}

.compose-form {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 1.5%;
    margin-right: 40%;
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    border: 3px solid #87ceeb;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-family: "Montserrat", sans-serif;
}


.form-item {
  display: block;
  padding: 2%;
}

.form-group label {
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  color: #fff;
}

.form-group input {
  margin: auto;
  border-radius: 8px;
  border: none;
}

.form-group textarea {
  margin: auto;
  border-radius: 8px;
  border: none;
  width: 90%;
  height: 250px;
}

.form-button {
  margin-top: 3%;
  padding: 3% 5%;
  border-radius: 12px;
  border: none;
  background-color: #87ceeb;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
}

.form-button:hover {
  background-color: rgb(68, 154, 194);
}


/* Footer styles */

.footer {
  position: relative;
  padding-top: 5%;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: transparent;
  text-align: center;
  font-size: 1em;
  color: #000;
}

/* Tablet media queries */

@media only screen and (max-width: 991.98px) {
  .navbar {
    flex-direction: column;
    margin-top: 1%;
  }

  .navbar a {
    flex-direction: column;
    color: #fff;
  }

  .left-nav {
    flex-direction: column;
    margin-right: auto;
  }

  .right-nav {
    margin-left: 0;
    display: none;
  }

  .nav-toggle {
    color: #fff;
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    padding-right: 2%;
  }

  .nav-toggle-show {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid #fff;
  }

  .nav-toggle-show a {
    text-align: right;
  }

  /* Post pages */

  .post-body {
  width: 70%;
  margin: 50% 10% 10% 10%;
 
}

  /* About section */
  #about-section {
    margin-bottom: 20%;
  }

  .about-container {
    margin-top: 75%;
  }

  /* Contact section */

  #contact-section {
    margin-bottom: 25%;
  }

  .contact-container {
    width: 75%;
    margin: 75% 10% 0 15%;
    padding-bottom: 0;
  }

  .contact-icons a {
    padding: 3%;
    margin: auto;
  }

  /* Compose page */

  #compose-section h1 {
    margin-top: 10%;
    margin-right: auto;
    color: #87ceeb;
  }

  .compose-form {
    width: 80%;
    margin: auto;
  }

  

}

/* Phone media queries */
@media only screen and (max-width: 767.98px) {
  
  .left-nav {
    padding-top: 2%;
    margin-right: 75%;
  }
  
  .landing-img h1 {
    font-weight: 300;
    font-size: 5em;
  }

  #home-posts {
    flex-direction: column;
    align-items: center;
    margin: 20% 0;
  }

  .post-box {
    width: 80%;
    height: auto;
    padding: 5%;
  }

  /* Post pages */



  /* About section */
  #about-section {
    margin-bottom: 40%;
  }

  .about-container {
    width: 80%;
    margin: 95% 5% 0 5%; 
  }

  /* Contact section */

  #contact-section {
    margin-bottom: 50%;
  }

  .contact-container {
    width: 90%;
    margin: 100% 5% 0 5%;
    padding-bottom: 10%;
  }

  /* Compose page */

  #compose-section h1 {
    margin-top: 15%;
  }

  #compose-section {
    padding-bottom: 45%;
  }
 
}
