<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  
  <title>Joined at the trip</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../images/favicon-travel.png">

  <!-- CSS stylesheet -->
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Font awesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500;600;700&family=Montserrat:wght@100;200;300;400;500;600&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">

</head>

<body>
    <section class="navbar">
      <div class="left-nav">
        <a href="/" class="nav-brand"><img src="../images/favicon-travel.png" alt="favicon"/></a>
      </div>

      <div class="nav-toggle">
        <i class="fas fa-bars fa-2x"></i>
      </div>


      <nav class="right-nav">
        <a href="/about" class="nav-link">About</a>
        <a href="/" class="nav-link">Posts</a>
        <a href="/contact" class="nav-link">Contact</a>
      </nav>

    </section>

    <script>
      function navToggle() {
        const navs = document.querySelectorAll('.right-nav');

        navs.forEach(nav => nav.classList.toggle('nav-toggle-show'));
      }

      document.querySelector('.nav-toggle')
        .addEventListener('click', navToggle);
      </script>

</body>