<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Joined at the trip</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Font awesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
  
  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500;600;700&family=Montserrat:wght@100;200;300;400;500;600&display=swap"
    rel="stylesheet">

</head>

<body>

  <section class="navbar">
    <nav class="leftnav">
      <a href="/">AR</a>
    </nav>
    <nav class="rightnav">
      <a href="/about" class="rightnav">About</a>
      <a href="/" class="rightnav">Posts</a>
      <a href="/contact" class="rightnav">Contact</a>
    </nav>
  </section>
  </body>

 

