<%- include("partials/header"); -%>

<section id="about-section">
    <div class="about-container">
        <h1>ABOUT</h1>
        <p> <%= aboutContent %> </p>
    </div>
</section>

<%- include("partials/footer"); -%>