<%- include("partials/header"); -%>
    <section id="compose-section">

        <h1>Compose new post</h1>
    
        <form class="compose-form" action="/compose" method="POST">
            <div class="form-group">
                <div>
                    <label class="form-item">Title</label>
                    <input class="form-item" type="text" name="postTitle" required />
                </div>

                <div>
                    <label class="form-item">Post</label>
                    <textarea class="form-item" name="postBody" cols="30" rows="5" required></textarea>
                </div>
            </div>
            <button class="form-button" type="submit" name="button"> Publish </button>
        </form>

        

    </section>

    <%- include("partials/footer"); -%>