<%- include("partials/header"); -%>


    <section id="contact-section">
        <div class="contact-container">
            <h1>CONTACT</h1>
            <p>
                <%= contactContent %>
            </p>
            <div class="contact-icons">
                <a href="" class="contact-icon"><i class="fas fa-envelope fa-3x"></i></a>
                <a href="" class="contact-icon"><i class="fab fa-github fa-3x"></i></a>
                <a href="" class="contact-icon"><i class="fab fa-linkedin fa-3x"></i></a>
            </div>
        </div>
    </section>


    <%- include("partials/footer"); -%>